
/* global css */
body{
    background: linear-gradient(to right, #000000, #434343);    color: #fff;
   font-family: 'Roboto', sans-serif;
}
.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
p{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}
.relative{
    position: relative;
}
section{
    margin-top: 2rem;
}
/* overlay icon css */
.play-icon{
    position: absolute;
    color: lightgrey;
    top: 40%;
    left: 40%;
    opacity: 0;
  }
/* header css */
#main-header{
    padding: 1rem;
}
#header-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem ;
}
#header-left p{
    font-size: 1.4rem;
}
#header-left a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.header-item{
    margin-right: 2rem;
}
#header-right{
    display: flex;
    align-items: center;
}
#header-right form{
    display: flex;
    align-items: center;
} 
#user{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
#user img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#header-right input{
    padding: 8px;
    border-radius:25px;
    border: none;
    background:  #414345;
    color: #fff;
    height: 1.5rem;
    width: 40vw;
}
#header-right input:focus{
    outline: none;
}
#header-right input::placeholder{
   text-align: center;
   font-size: 1.2rem;
}
#header-right input{
    text-align: center;
    font-size: 1.2rem;
    color: lightgray;
    font-family: 'Lato', sans-serif;
}

.fa-search{
    position: relative;
    font-size: 1.2rem;
    left: 40vw;
    color:#50B95D;
}
.fa-bell{
    color: #50B95D;
}
.fa-microphone-alt{
    position: relative;
    color:#50B95D;
    font-size: 1.4rem;
    left: 4vw;
}
#main-header{
    width :90%
}
@media screen and (max-width : 900px){
    .header-container {
        flex-direction: column;
        }
        #header-left{
            justify-content: flex-start;
        }
        #header-right input{
            width: 65vw;
        }
        .fa-search{
            left: 65vw;
        }
}
@media screen and (max-width : 800px){
   
    #header-right input{
        width: 60vw;
    }
    .fa-search{
        left: 60vw;
    }
}
@media screen and (max-width : 650px){
    #main-60{
        width: 90% !important;
    }
    #header-right input{
        width: 50vw;
    }
    .fa-search{
        left: 50vw;
    }
}
@media screen and (max-width : 450px){
    #header-right input{
        width: 45vw;
    }
    .fa-search{
        left: 45vw;
    }
    .fa-microphone-alt{
        left: 5vw;
    }
}
@media screen and (max-width : 300px){
    #header-right input{
        width: 35vw;
    }
    .fa-search{
        left: 40vw;
    }
}
/* main body css */
#main-body{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 650px){
   
    #main-body{
        display: block;
        }
}

#main-60{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 2rem;
}
/* image section */
#banner-section{
    display: flex;
    flex-flow: row wrap; 
     justify-content: center;
}
.banner-image{
    display: flex;
    flex-flow: row wrap;
    width: 250px;
    align-items: center;
    padding: 0.2rem;
    position: relative;
   
}
.banner-image img{
    height: 250px;
    width: 100%;
}
.banner-image:hover{
    transform:scale(1.1,1.1);
filter: blur(1px);
transition: .5s ease-in-out;
}
.banner-image:hover .play-icon{
   opacity: 1;
   z-index: 1;
    }

@media screen and (max-width : 1270px){
    .banner-image{
        width: 380px;
    }
}
@media screen and (max-width : 900px){
    .banner-image{
        width: 300px;
    }
}
@media screen and (max-width : 650px){
    .banner-image{
        width: 80%;
    }
}
/* latest release section */
.lr-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px 14px;
}
.lr-sec{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45%;
    margin-right : 2px;
}
.lr-icon{
    position: relative;
}
.lr-icon:hover .play-icon {
    opacity: 1;
    filter: blur(1px);
}
.lr-icon .play-icon{
    position: absolute;
    color: lightgrey;
    top: 30%;
    left: 30%;
    opacity: 0;
}
@media screen and (max-width:900px){
    .lr-sec{
     width: 90%;
    }
}
.lr-sec-details{
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.lr-sec-time{
text-align: right;
}
.lr-sec-time p:first-child{
    font-size: 1.2rem;
}
.lr-sec-details p{
    margin-left: 1.5rem;
    font-size: 1rem;
}
.lr-icon{
    width: 5rem;
    height: 4rem;
}
.lr-icon img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    
}
@media screen and (max-width: 600px){
    .lr-sec{
        width: 100%;
    }
}
/* popular artists secton */
#pa-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.pa-sec{
    margin: 1rem;
    transition: .5s ease-in-out;
}
.pa-sec .play-icon{
    position: absolute;
    top:25%;
    left: 35%;
}
.pa-sec:hover{
transform:scale(1.1,1.1);
filter: blur(1px);

}
.pa-sec:hover .play-icon{
    opacity: 1;
}
.pa-thumbnail{
    width: 8rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.pa-thumbnail img{
    width: 100%;
    height: 90%;
    border-radius: 50%;
}
.pa-thumbnail p{
    text-align: center;
}
@media screen and (max-width :800px){
    .pa-thumbnail{
        width: 7rem;
        height: 8rem;
    }
}

/* stations css */
#stations{
    background-color: #232526;
    padding: 1rem;
}
#station-sec{
    display: flex;
    flex-flow: row wrap;
}
.station-thumbnail{
width: 6rem;
height: 6rem;
padding: 0.4rem;
position: relative;
transition: all  0.8s ease-in-out;
border-radius: 50%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
display: flex;
flex-direction: column;
margin: 1rem;
}
.station-thumbnail p{
text-align: center;
}
.station-thumbnail:hover{
    filter: grayscale(100%) ;
}
.station-thumbnail:hover .play-icon{
    opacity: 1;
}
.station-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width:1000px){
    .station-thumbnail{
        width: 7rem;
        height: 7rem;
    }
}

/* category */
#category-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.category-thumbnail{
    width: 250px;
    height: 10rem;
}

.category-thumbnail img{
    width: 100%;
    height : 100%;
    border-radius: 5px;
}
@media screen and (max-width : 1270px){
    .category-thumbnail{
        width: 380px;
    }
}
@media screen and (max-width : 900px){
    .category-thumbnail{
        width: 300px;
    }
}
@media screen and (max-width : 650px){
    .category-thumbnail{
        transform: scale(1.3,1.3);
        margin: 1.5rem;
    }
}

/* latest sections */

.latest-section{
    display: flex;
    flex-flow: row wrap;
  justify-content: space-around;
   
}
.latest-thumb{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    height: 9rem;
    align-self: flex-start;
    width: 15%;
}
@media screen and (max-width:900px) {
    .latest-thumb{
        width: 30%;
    }
}
@media screen and (max-width:300px) {
    .latest-thumb{
        width: 45%;
        justify-content: space-around;
    }
}
.latest-thumb img{
width: 100%;
height: 80%;
border-radius: 20%;
}
.latest-thumb p{
    font-size: 14px;
    text-align: left;
    color: lightgray;
    font-weight: 700;
}
.latest-thumb span{
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0.2rem;
}
/* sidebar */
aside{
    width: 35%;
    margin-left : 3rem;
}
.playlist-heading{
    display: flex;
    flex-flow : row wrap;
    justify-content: space-around;
    align-items: center;
}
.playlist-body{
    display: flex;
    flex-direction: column;
}
.playlist-data{
    display: inline-flex;
    padding: 1rem;
    width: 80%;
    height : 5rem;
}
.playlist-data:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playlist-data img{
    height: 90%;
    margin-left:1rem;
    margin-right: 2rem;
}
.playlist-data span{
    display: none;
}
@media screen and (max-width : 900px){
    aside{
        width: 90%;
        margin-left : 1rem;
    }
}
@media screen and (max-width: 700px){
    aside{
        width: 90%;
        margin-left : 1rem;
    }
}